<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/autenticado}">

    <head>

        <title>Dashboard | PEG</title>

    </head>

    <body>
        <div class="container" layout:fragment="content">
            <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNTI1YTk3MzQtNjYzMS00OWNkLWIyMjktZDRkM2JhZjg2Zjg1IiwidCI6IjE2Zjg4ZmQyLTI5Y2UtNDQwNi1hMjgxLTNiMmFhZjdlZTZiMiJ9" 
                    frameborder="0" allowFullScreen="true">

            </iframe>
        </div>
    </body>
</html>