#telalogin{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 1px 5px 30px  rgb(195,195,195);
}

#fundologin{
    background-color: rgb(243,243,243);
    background-image: url("../img/fundo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#fundocadastro{
    background-color: gainsboro;
}

#fundoconsulta{
    background-color: gainsboro;
}

#fundopaciente{
    background-color: gainsboro;
}

#blockwhite {
    height: 330px;
    background-color: white;
    border-radius: 5px;
    border:1px solid #C0C0C0;
    /*margin-block-start: 1em;*/
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    line-height: 30px;
    padding: 20px;
}

#block {
    height: 130px;
    width: 190%;
    background-color: white;
    border-radius: 5px;
    border:1px solid #C0C0C0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    line-height: 30px;
    padding: 10px;
}
#espacotitulo{
    margin-inline-start: 40px;
    margin-block-start: 1em;
}
#espacobotao{
    line-height: 100px;
    margin-inline-start: 40px;

}
#espacobotaoform {
    line-height: 80%;

}
.btn {
    padding: 10px 60px;
    font-size: 15px;
    border-radius: 10px;  
}
#btnver {
    padding: 10px 90px;
    font-size: 15px;
    border-radius: 10px;  
}

