#telalogin{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 1px 5px 30px  rgb(195,195,195);
}

#fundologin{
    background-color: rgb(243,243,243);
    background-image: url("../img/fundo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#fundocadastro{
    background-color: gainsboro;
}

#fundoconsulta{
    background-color: gainsboro;
}

#fundopaciente{
    background-color: gainsboro;
}