/*LOGIN*/
#telalogin{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 1px 5px 30px  rgb(195,195,195);
}

#fundologin{
    background-color: rgb(243,243,243);
    background-image: url("../img/fundo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    margin-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.btn {
    color: white;
    padding: 10px 60px;
    font-size: 15px;
    border-radius: 6px;
    display: block;
    margin-left: auto;
}

.btnAlt {
    padding: 10px 40px;
    border-radius: 6px;
    margin: 3px;
}

#btnSair {
    background-color: #E77580;
    border-color: #A6A6A6;
    padding: 8px 30px;
}

#btnNovaConsulta {
    background-color: #FFD333;
}

#btnReceita {
    background-color: #FFD333;
}

#btnAtestado {
    background-color: #FFC3C3;
}

#btnDadosPaciente{
    padding: 10px;
    font-size: 12px;
}

#btnCancelar{
    padding: 10px 20px;
}

#btnConfirma{
    padding: 10px 25px;
}

#textoAtestado {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
}

#cabecalhoAtestado {
    text-align: center;
    font-size: 16px;
    margin-bottom: 60px;
}

#textoAssinatura {
    text-align: center;
    margin-left: 20px;
    margin-top: 100px;
    margin-bottom: 60px;
}

#textoAssinaturaReceita {
    text-align: center;
    margin-left: 260px;
    margin-top: 100px;
    margin-bottom: 60px;
}
/*CADASTRO*/
.blockwhite {
    background-color: white;
    border-radius: 5px;
    border:1px solid #C0C0C0;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    padding: 20px;
}

.kpi{
    background-color: #FDFDFD;
    border-radius: 5px;
    border:1px solid #C0C0C0;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 15px;
    width: 210px;
    height: 130px;
}

#block {
    width: 190%;
    background-color: white;
    border-radius: 5px;
    border:1px solid #C0C0C0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    padding: 20px;
}

#blockAlt {
    background-color: gainsboro;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}

@media print { 
    .noprint { display:none; } 
}

#block2 {
    height: 600px;
    background-color: white;
    border-radius: 5px;
    border:1px solid #C0C0C0;
    /*margin-block-start: 1em;*/
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    line-height: 30px;
    padding: 20px;
}


#espacotitulo{
    margin-inline-start: 10px;
    margin-block-start: 1em;
}

#espacobotaoform {
    line-height: 80%;

}

body
{
    background-color: #f7f7f7;
}

#ladoEsquerdoRecep{
    background-color: white;
    border-radius: 5px;
    border:1px solid #C0C0C0;
}

#ladoDireitoRecep {
    margin-top: 200px;
}

#titulorecep {
    text-align: right;
    margin-bottom: 40px;
}

#botaoRecep{
      margin-top: 50px;
      padding-right:10px;
}