<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/autenticado}">

    <head>
        <title>Médico</title>
    </head>

    <body id="fundocadastro">
        <div layout:fragment="content"> 
            <div id="espacotitulo">
                <h4>Próximas Consultas</h4>
            </div>
            <div class="tabela-consulta">
                <table id="table-proximas-consultas" width="100%">
                    <tbody>
                        <tr th:if="${proximasConsultas.empty}">
                            <td colspan="2">Não há consultas futuras</td>
                        </tr>
                        <tr th:each="consulta : ${proximasConsultas}">
                            <td  width="50%">
                                <div id="block">
                                    <p>
                                        <b>Data:</b> <span th:text="${#temporals.format(consulta.dtHrConsulta,'dd/MM/yyyy HH:mm')}">Data</span></br>
                                        <b>Paciente:</b> <span th:text="${consulta.paciente.nome}">Paciente</span></br>
                                        <b>Especialidade:</b> <span th:text="${consulta.especialidade.descricao}">Especialidade</span>
                                    </p>
                                </div>
                            </td>
                            <td width="20%" >
                                <div th:if="!${consulta.confirmada}">
                                    <p style="color: #FFD333"><b>Aguardando confirmação</b></p>
                                </div>
                                <div th:if="${consulta.confirmada}">
                                    <p style="color: #A6A6A6"><b>Confirmado</b></p>
                                </div>
                            </td>
                            <td width="30%" align="right" style="padding-right:70px;">
                                <form th:action="@{/medico/atender/} + ${consulta.numAtendimento}" method="post">
                                    <button type="submit" class="btn btn-success">Iniciar Atendimento</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>

</html>