<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/autenticado}">

    <head>
        <title>Médico</title>
    </head>

    <body>
        <div class="container-md" layout:fragment="content"> 

            <div class="form-row col-sm align-items-center">
                <img th:src="@{/img/logoPEG.png}"/>
                <h2>Olá, Dr(a) <span th:text="${nome}"></span>! </h2><br>
            </div>
            <div class="row">
                <div id="ladoEsquerdo" class="col-sm-6">

                    <div id="espacotitulo">
                        <h4>Próximas consultas agendadas</h4>
                    </div>

                    <div id="proximasConsultas">
                        <div  class="blockwhite col-sm-md row align-items-center" th:if="${proximasConsultas.empty}">
                            <p>
                                <b>Não há consultas futuras</b>
                            </p>
                        </div>
                        <div class="row blockwhite align-items-center" th:each="consulta : ${proximasConsultas}">
                            <div class="col-sm-md">
                                <p>
                                    <b>Data:</b> <span th:text="${#temporals.format(consulta.data,'dd/MM/yyyy')}">Data</span>, <span th:text="${consulta.horaInicio}">horaInicio</span> as <span th:text="${consulta.horaFim}">horaFim</span></br>
                                    <b>Paciente:</b> <span th:text="${consulta.paciente.nome}">Paciente</span></br>
                                    <b>Especialidade:</b> <span th:text="${consulta.especialidade.descricao}">Especialidade</span>
                                </p>
                            </div>
                            <div  class="col-sm-md mx-auto">
                                <div th:if="!${consulta.confirmada}">
                                    <span style="color: #FFD333"><b>Aguardando confirmação</b></span>
                                </div>
                                <div th:if="${consulta.confirmada}">
                                    <p style="color: #A6A6A6"><b>Confirmado</b></p>
                                </div>
                            </div>
                            <div class="col-sm-md mx-auto">
                                <form th:action="@{/medico/atender/} + ${consulta.numAtendimento}" method="get">
                                    <button type="submit" class="btn btn-success btnAlt">Iniciar Atendimento</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ladoDireito"  class="col-sm-6">
                    <div id="espacotitulo">
                        <h4>Estatísticas do mês</h4>
                    </div>
                    <div class="blockwhite">
                        <div class="row col-sm" style="margin-left: 0px; margin-right: 0px;">
                            <div  id="contentKpi" class="kpi">
                                <h2 th:text="${pacientesAgendados}"></h2>
                                <span>Pacientes agendados</span></br>
                                <img th:src="@{/img/pacientesAgendados.png}"/></br>
                            </div>
                            <div id="contentKpi" class="kpi">
                                <h2 th:text="${pacientesAtendidos}"></h2>
                                <span>Pacientes atendidos</span></br>
                                <img th:src="@{/img/pacientesAtendidos.png}"/></br>
                            </div>
                        </div>
                        <div class="row col-sm"  style="margin-left: 0px; margin-right: 0px;">
                            <div id="contentKpi" class="kpi">
                                <h2 th:text="${pacientesConfirmados}"></h2>
                                <span>Pacientes confimados</span></br>
                                <img th:src="@{/img/pacientesConfirmados.png}"/></br>
                            </div>
                            <div id="contentKpi" class="kpi">
                                <h2 th:text="${pacientesAusentes}"></h2>
                                <span>Pacientes ausentes</span></br>
                                <img th:src="@{/img/pacientesAusentes.png}"/></br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>