<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/autenticado}">

    <head>
        <title>Receita</title>
    </head>
    <body id="fundopaciente">
        <div layout:fragment="content">
            <div id="espacotitulo">
                <h4>Nova Receita</h4>
            </div>
            <br>
            <div id="block2">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Paciente</label>
                        <ul>
                            <span th:text="${consulta.paciente.nome}"></span>
                        </ul>
                    </div>
                </form>
                <div class="col">
                    <label for="exampleFormControlTextarea1">Descrição</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="descReceita"></textarea>
                </div>
                <br>
                    <div class="col-lg-12" style="text-align: right;" id="button">  
                        <form th:action="@{/home}" method="get">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <button type="submit" class="btn btn-primary" onClick="window.print()">Imprimir</button>
                        </form>
                    </div>
            </div>
        </div>
    </body>
</html>