<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/autenticado}">

    <head>
        <title>Consulta</title>
    </head>

    <body>
        <div class="container" layout:fragment="content">

            <div  class="form-row col-sm align-items-center">
                <img th:src="@{/img/prontuario.png}"/>
                <h4>Registro de Prontuário</h4>
                <div class="col-sm-3 offset-sm-4">
                    <a class="btn btn-primary" id="btnDadosPaciente" th:href="@{/medico/dadosPaciente/} + ${numeroAtendimento}">Dados do Paciente</a>
                </div>
            </div>

            <form th:action="@{/medico/atender/} + ${numeroAtendimento}" method="post" id="formProntuario">
                <div class="blockwhite" id="espacotitulo">
                    <div class="form-row col-sm">
                        <div class="col-sm-3">
                            <label for="numAtendimentoPront">Nº atendimento</label>
                            <input id="numAtendimentoPront" type="number" class="form-control" readonly th:value="${numeroAtendimento}">
                        </div>
                        <div class="col-sm-9">
                            <label for="nomePaciente">Paciente</label>
                            <input id="nomePaciente" type="text" class="form-control" readonly th:value="${consulta.paciente.nome}">
                        </div>
                    </div>
                    <div class="form-row col-sm">
                        <label for="queixaPront">Queixa principal</label>
                        <input id="queixaPront" type="text" class="form-control" required name="queixa">
                    </div>
                    <div class="form-row col-sm align-items-end">
                        <div id="cids" class="form-row align-items-end col-sm">
                            <div class="col-sm-3">
                                <label for="cid">Buscar CID</label>
                                <input id="cid" type="text" class="form-control cid" placeholder="ex: J15.9" required>
                            </div>
                            <div class="col-sm-9" id="cidPlaceholder">
                                <input id="cidDescricao" type="text" readonly class="form-control" required> 
                            </div>
                        </div>
                    </div>
                    <div class="form-row col-sm align-items-center">
                        <div class="col-sm-3">
                            <label for="paPront">PA</label>
                            <input id="paPront" type="text" placeholder="ex: 120x80" class="form-control" name="pa" required>
                        </div>
                        <div class="col-sm-3">
                            <label for="frPront">FR</label>
                            <input id="frPront" type="number" class="form-control" name="fr" required>
                        </div>
                        <div class="col-sm-3">
                            <label for="temperaturaPront">Temperatura</label>
                            <input id="temperaturaPront" type="number" class="form-control" name="temperatura" required>
                        </div>
                        <div class="col-sm-3">
                            <label for="pesoPront">Peso</label>
                            <input id="pesoPront" type="number" class="form-control" name="peso" required>
                        </div>
                    </div>
                    <div class="form-row col-sm">
                        <label for="avaliacao">Avaliação</label>
                        <textarea id="avaliacao" class="form-control" rows="3" required name="avalMedico"></textarea>
                    </div>
                    <div class="form-row col-sm">
                        <label for="examesPront">Exames</label>
                        <textarea id="examesPront" class="form-control" placeholder="Ex: Hemograma, Glicemia, Colesterol total" rows="2" name="exames"></textarea>
                    </div><p></p>
                    <div class="row justify-content-end">
                        <div class="col-sm-3">
                            <button type="submit" id="btnSalvar" class="btn btn-success btnAlt">Finalizar</button>
                        </div>
                        <div class="col-sm-3">
                            <a class="btn btnAlt" id="btnReceita" th:href="@{/medico/novaReceita/} + ${numAtendimento}">Receita</a>
                        </div>
                        <div class="col-sm-3">
                            <a class="btn btnAlt" id="btnAtestado" th:href="@{/medico/atestado/} + ${numAtendimento}">Atestado</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div layout:fragment="scripts">
            <script>
                $(document).ready(function () {
                    $('#cid').change(obterCidDescricao);

                    function obterCidDescricao() {
                        var cid = $('#cid').val();

                        if (cid) {
                            var url = `/medico/cid/${cid}`;

                            $('#cidPlaceholder').load(url, function (responseTxt, statusTxt, xhr) {
                                if (statusTxt == "success") {
                                }
                                if (statusTxt == "error") {
                                    $('#cidDescricao').val("");
                                    alert(responseTxt);
                                }
                            });
                        }else{
                            $('#cidDescricao').val("");
                        }
                    }

                })
            </script>
        </div>
    </body>

</html>