<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/autenticado}">

    <head>
        <title>Consulta</title>
    </head>

    <body>
        <div class="container" layout:fragment="content">

            <div  class="form-row col-sm align-items-center">
                <img th:src="@{/img/prontuario.png}"/>
                <h4>Registro de Prontuário</h4>
            </div>

            <form th:action="@{/medico/atender/} + ${numeroAtendimento}" method="post">
                <div class="blockwhite" id="espacotitulo">
                    <div class="form-row">
                        <div class="col-sm-3">
                            <label for="numAtendimentoPront">Nº atendimento</label>
                            <input id="numAtendimentoPront" type="number" class="form-control" readonly th:value="${numeroAtendimento}">
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="queixaPront">Queixa principal</label>
                        <input id="queixaPront" type="text" class="form-control" name="queixa">
                    </div>
                    <div class="form-row align-items-end">
                        <div class="col-sm-2">
                            <label for="exampleFormControlInput1">Buscar CID</label>
                            <input type="number" class="form-control" placeholder="ex: J15.9" name="cids.codigo">
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control"> 
                        </div>
                        <div class="1">
                            <button type="button" id="addInput">add</button>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-sm-4">
                            <label for="paPront">PA</label>
                            <input id="paPront" type="text" placeholder="ex: 120x80" class="form-control" name="pa">
                        </div>
                        <div class="col-sm-4">
                            <label for="frPront">FR</label>
                            <input id="frPront" type="number" class="form-control" name="fr">
                        </div>
                        <div class="col-sm-4">
                            <label for="temperaturaPront">Temperatura</label>
                            <input id="temperaturaPront" type="number" class="form-control" name="temperatura">
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="avaliacao">Avaliação</label>
                        <textarea id="avaliacao" class="form-control" rows="3" name="avalMedico"></textarea>
                    </div>
                    <div class="form-row">
                        <label for="examesPront">Exames</label>
                        <textarea id="examesPront" class="form-control" placeholder="Ex: Hemograma, Glicemia, Colesterol total" rows="2" name="exames"></textarea>
                    </div><p></p>
                    <div class="row justify-content-end">
                        <div class="col-sm-3">
                            <button type="submit" id="btnSalvar" class="btn btn-success btnAlt">Finalizar</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit"id="btnReceita" class="btn btnAlt">Receita</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" id="btnAtestado" class="btn btnAlt">Atestado</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>

</html>