<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default.html}">

    <head>
        <title>Novo cadastro | PEG</title>
    </head>

    <body>
        <div class="container-md" layout:fragment="content">

            <div id="espacotitulo" class="form-row col-sm align-items-center">
                <img th:src="@{/img/novoPaciente.png}"/>
                <h2>Novo Paciente</h2><br>
            </div>

            <form autocomplete="off" action="#" th:action="@{/cadastro}" method="post">
                <h6 class="form-row col-sm align-items-center"> <i><small>*Campos obrigatórios</small></i></h6>
                <div>
                    <div class="blockwhite" id="dadosPessoais">
                        <h5 class="text-primary">Dados pessoais</h5>
                        <div class="form-row align-items-center">
                            <div class="col-sm-4">
                                <label for="nome">Nome completo*</label>
                                <input id="nome" type="text" class="form-control" name="nome" style="text-transform: uppercase" onkeypress="return ApenasLetras(event, this);" required>
                            </div>
                            <div class="col-sm-2">
                                <label class="mr-sm-2" for="sexo">Sexo*</label>
                                <select id="sexo" class="custom-select mr-sm-2" name="sexo" required>
                                    <option value="" disabled selected>Selecione...</option>
                                    <option value="M">Masculino</option>
                                    <option value="F">Feminino</option>
                                </select>
                            </div>
                            <div class="col-sm">
                                <label for="dtNascimento">Data de nascimento*</label>
                                <input id="dtNascimento" type="date" class="form-control" name="dtNascimento" required>
                            </div>
                            <div class="col-sm">
                                <label class="mr-sm-2" for="estadoCivil">Estado civil*</label>
                                <select id="estadoCivil" class="custom-select mr-sm-2" required name="estadoCivil">
                                    <option value="" disabled selected>Selecione...</option>
                                    <option value="Solteiro(a)">Solteiro(a)</option>
                                    <option value="Casado(a)">Casado(a)</option>
                                    <option value="Viúvo(a)">Viúvo(a)</option>
                                    <option value="Divorciado(a)">Divorciado(a)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-sm">
                                <label for="cpf">CPF*</label>
                                <input id="cpf" type="text" name="cpf" class="form-control" placeholder="000.000.000-00" oninput="mascaracpf(this); onlynumber(this)" required>
                            </div>
                            <div class="col-sm-5">
                                <label for="email">E-mail*</label>
                                <input id="email" type="email" name="contato.email" class="form-control" style="text-transform:lowercase; required">
                            </div>
                            <div class="col-sm">
                                <label for="tel">Telefone</label>
                                <input id="tel" type="text" name="contato.telefone" class="form-control" placeholder="(00) 0000-0000" onkeyup="mascaratelefone(this, mtel);" maxlength="14">
                            </div>
                            <div class="col-sm">
                                <label for="cel">Celular*</label>
                                <input id="cel" type="text" name="contato.celular" class="form-control" placeholder="(00) 00000-0000" onkeyup="mascaratelefone(this, mtel);" maxlength="15" required>
                            </div>
                        </div>
                    </div>

                    <div class="blockwhite" id="dadosComplementares">
                        <h5 class="text-primary">Dados complementares</h5>
                        <div class="form-row align-items-center">
                            <div class="col-sm">
                                <label for="cep">CEP</label>
                                <input id="cep" type="text" name="endereco.CEP" class="form-control" placeholder="00000-000" onkeypress="mascaracep(this, '#####-###');onlynumber();" maxlength="9">
                            </div>
                            <div class="col-sm-5">
                                <label for="endereco">Endereço*</label>
                                <input id="endereco" type="text" name="endereco.logradouro" class="form-control" style="text-transform: uppercase" required>
                            </div>
                            <div class="col-sm-1">
                                <label for="numEndereco">Número*</label>
                                <input id="numEndereco" type="text" name="endereco.numero" class="form-control" required>
                            </div>
                            <div class="col-sm-2">
                                <label for="bairro">Bairro*</label>
                                <input id="bairro" type="text" name="endereco.bairro" class="form-control" style="text-transform: uppercase" required>
                            </div>
                            <div class="col-sm-2">
                                <label for="cidade">Cidade*</label>
                                <input id="cidade" type="text" name="endereco.cidade" class="form-control" style="text-transform: uppercase" required>
                            </div>
                        </div>
                    </div>

                    <div class="blockwhite" id="Observações">
                        <h5 class="text-primary">Observações</h5>
                        <div class="align-items-center">
                            <div class="col-sm">
                                <label for="alergias">Alergias</label>
                                <input id="alergias" type="text" class="form-control" name="alergias" placeholder="Ex.: Dipirona, AAS...">
                            </div>
                            <label class="col-sm">Doenças pré existentes:</label>
                            <div class="form-row col-sm">
                                <div class="form-check form-check-inline">
                                    <input id="dm" class="form-check-input" name="dm" type="checkbox">
                                        <label for="dm" class="form-check-label">Diabetes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input id="has" class="form-check-input" name="has" type="checkbox">
                                        <label for="has" class="form-check-label">Hipertensão</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input id="ic" class="form-check-input" name="ic" type="checkbox">
                                        <label for="ic" class="form-check-label">Insuficiência cardíaca</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input id="dpoc" class="form-check-input" name="dpoc" type="checkbox">
                                        <label for="dpoc" class="form-check-label">DPOC</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input id="ca" class="form-check-input" name="ca" type="checkbox">
                                        <label for="ca" class="form-check-label">Câncer</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input id="etilismo" class="form-check-input" type="checkbox">
                                        <label for="etilismo" class="form-check-label" name="etilista">Etilismo</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input id="tabagismo" class="form-check-input" name="tabagista" type="checkbox">
                                        <label for="tabagismo" class="form-check-label">Tabagismo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row blockwhite align-items-center" id="labelSenha" style="padding-right:70px">
                        <div class="col-sm-4">
                            <label for="senha">Senha*</label>
                            <input id="senha" type="password" placeholder="Senha minima de 6 digitos" name="senha" class="form-control" required/>
                        </div>
                    </div>
                    <div class="row col-sm align-items-center">
                        <div class="col-sm offset-sm-8">
                            <a class="btn-danger btnAlt" id="btnCancelar" href="/home">Cancelar</a>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success btnAlt">Salvar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>

</html>