<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

    <head>
        <title>Login</title>
    </head>

    <body>
        <div id="fundologin" layout:fragment="content">
            <div class="card" id="telalogin">
                <div class="card-body">
                    <form th:action="@{/login}" method="POST">
                        <div class="form-group">
                            <div id="tituloLogin">
                                <h3 class="text-primary">Bem-vindo</h3>
                                <img th:src="@{/img/logoPEG.png}"/>
                                <h4>Acesse sua conta</h4>
                            </div>
                            </br>
                            <label>CPF</label>
                            <input class="form-control" name="cpf" id="cpf" placeholder="Informe seu cpf">
                        </div>
                        <div class="form-group">
                            <label>Senha</label>
                            <input class="form-control" type="password" name="senha" id="senha" placeholder="Insira sua senha">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" id="remember-me" name="remember-me" />
                            <label for="remember-me">Lembrar acesso?</label>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Entrar</button>
                    </form>
                    <form th:action="@{/cadastro}" method="get">
                        <button type="submit" class="btn btn-primary btn-block">Cadastre-se grátis</button>
                    </form>
                </div>
            </div>
    </body>

</html>