<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default.html}">

    <head>
        <title>Recepcionista</title>
    </head>

    <body>
        <div class="container-md" layout:fragment="content"> 
            <div class="form-row">
                <div id="ladoEsquerdoRecep" class="col-sm-6">
                    <div id="titulorecep">
                        <div class="row align-items-center">
                            <img th:src="@{/img/logoPEG.png}"/>
                            <h4>Olá, Recepcionista! </h4><br>
                        </div>
                    </div></br>
                    <div>
                        <div class="form-row col-sm align-items-center" style="padding-right:10px;">
                            <img th:src="@{/img/novaConsultaRecep.png}"/>
                            <form class="col-sm" th:action="@{/paciente/novaConsulta}" method="get">
                                <button type="submit" class="btn" id="btnNovaConsulta">Nova Consulta</button>
                            </form>
                        </div></br>
                        <div class="form-row col-sm align-items-center" id="botaoRecep">
                            <img th:src="@{/img/novoPacienteRecep.png}"/>
                            <form class="col-sm" th:action="@{/paciente/novaConsulta}" method="get">
                                <button type="submit" class="btn" id="btnNovaConsulta">Novo Paciente</button>
                            </form>
                        </div></br>
                        <div class="form-row col-sm align-items-center" id="botaoRecep" style="margin-bottom: 150px;">
                            <img th:src="@{/img/novoMedicoRecep.png}"/>
                            <form class="col-sm" th:action="@{/paciente/novaConsulta}" method="get">
                                <button type="submit" class="btn" id="btnNovaConsulta">Novo Médico</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="ladoDireitoRecep"  class="col-sm-6">
                    <div id="espacotitulo">
                        <h4>Próximas consultas agendadas</h4>
                    </div>
                </div>
                <!--<div id="proximasConsultas">
                   <div  class="blockwhite col-sm row  align-items-center" th:if="${proximasConsultas.empty}">
                       <p>
                           <b>Não há consultas futuras</b>
                       </p>
                   </div>
                   <div  class="form-row blockwhite" th:each="consulta : ${proximasConsultas}">
                       <div class="col-sm-6 align-items-center">
                           <p>
                               <b>Data:</b> <span th:text="${#temporals.format(consulta.data,'dd/MM/yyyy')}">Data</span>, <span th:text="${consulta.horaInicio}">horaInicio</span> as <span th:text="${consulta.horaFim}">horaFim</span></br>
                               <b>Médico:</b> <span th:text="${consulta.medico.nome}">Medico</span></br>
                               <b>Especialidade:</b> <span th:text="${consulta.especialidade.descricao}">Especialidade</span>
                           </p>
                       </div>
                       <div class="col-sm" style="padding-right:70px;">
                           <form th:action="@{/paciente/cancelarConsulta/} + ${consulta.numAtendimento}" method="post">
                               <button type="submit" class="btn btn-danger btnAlt">Cancelar</button>
                           </form>
                       </div>
                       <div class="col-sm" th:if="!${consulta.confirmada}" style="padding-right:70px">
                           <form th:action="@{/paciente/confirmar/} + ${consulta.numAtendimento}" method="post">
                               <button type="submit" class="btn btn-success btnAlt">Confirmar</button>
                           </form>
                       </div>
                       <div class="col-sm" th:if="${consulta.confirmada}" style="padding-right:70px">
                           <button type="none" disabled class="btn btn-outline-primary btnAlt">Confirmado</button>
                       </div>
                   </div>
               </div>-->

            </div>    
        </div>
    </body>
</html>