<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/autenticado}">

    <head>
        <title>Novo agendamento</title>
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <form autocomplete="off" action="#" th:action="@{/recepcionista}" method="post">
                <div>
                    <div class="blockwhite" id="dadosPessoais">
                        <h5 class="text-secondary">+ Novo agendamento</h5>
                        <div class="form-row align-items-center">
                            <div class="col-sm-5">
                                <label for="cpf">CPF:</label>
                                <input id="cpf" type="text" name="cpf" class="form-control" placeholder="000.000.000-00" oninput="mascaracpf(this); onlynumber(this)">
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-sm">
                                <label for="nome">Nome</label>
                                <input id="nome" type="text" class="form-control" name="nome" style="text-transform: uppercase" readonly>
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-sm">
                                <label class="mr-sm-2" for="atendimento">Tipo de atendimento</label>
                                <select id="atendimento" class="custom-select mr-sm-2" name="atendimento" required>
                                    <option selected>Consulta/Retorno</option>
                                    <option value=""></option>
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="col-sm">
                                <label class="mr-sm-2" for="convenio">Convênio</label>
                                <select id="convenio" class="custom-select mr-sm-2" name="convenio" required>
                                    <option selected>Particular/Convênio</option>
                                    <option value=""></option>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-sm-5">
                                <label for="especialidade">Especialidade</label>
                                <input id="especialidade" type="text" class="form-control" name="especialidade"  placeholder="Lista de especialidade">
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-sm">
                                <label for="dt">Data</label>
                                <input id="dt" type="date" class="form-control" name="dt" required>
                            </div>
                            <div class="col-sm">
                                <label for="dtNascimento">Horário Inicio</label>
                                <input type="time" id="hrInicio" name="hrInicio">
                            </div>
                            <div class="col-sm">
                                <label for="dtNascimento">Horário Final</label>
                                <input type="time" id="hrFinal" name="hrFinal">
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </body>

</html>