<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/autenticado}">

    <head>
        <title>Consulta | PEG</title>
    </head>

    <body>
        <div class="container" layout:fragment="content">

            <div class="form-row col-sm align-items-center">
                <img th:src="@{/img/detalhesConsulta.png}"/>
                <h4>Detalhes da consulta</h4>
            </div>

            <div class="blockwhite" id="espacotitulo">
                <div class="form-row align-items-center">
                    <div class="col-sm-2">
                        <label for="numAtendimento">Nº atendimento</label>
                        <input id="numAtendimento" type="number" class="form-control" readonly th:value="${consulta.numAtendimento}">
                    </div>
                    <div class="col-sm-3">
                        <label for="dataHora">Data</label>
                        <input id="dataHora" type="text" class="form-control" readonly th:value="${#temporals.format(consulta.data,'dd/MM/yy ')} + ${consulta.horaInicio}">
                    </div>
                    <div class="col-sm-4">
                        <label for="nomeMedico">Médico</label>
                        <input id="nomeMedico" type="text" class="form-control" readonly th:value="${consulta.medico.nome}">
                    </div>
                    <div class="col-sm-3">
                        <label for="especilidade">Especialidade</label>
                        <input id="especilidade" type="text" class="form-control" readonly th:value="${consulta.especialidade.descricao}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="queixa">Queixa principal</label>
                    <input id="queixa" type="text" class="form-control" readonly th:value="${consulta.prontuario.queixa}">
                </div>
                <div class="form-group">
                    <label for="cids" readonly>CIDs</label>
                    <ul>
                        <li id="cids" th:each="cid : ${consulta.prontuario.cids}">
                            <span th:text="${cid.descricao}"></span></br>
                        </li>
                    </ul>
                </div>
                <div class="form-row align-items-center">
                    <div class="col-sm">
                        <label for="pa">Pressão Arterial</label>
                        <input id="pa" type="text" class="form-control" readonly th:value="${consulta.prontuario.pa}">
                    </div>
                    <div class="col-sm">
                        <label for="fr">Frequência Respiratória</label>
                        <input id="fr" type="text" class="form-control" readonly th:value="${consulta.prontuario.fr}">
                    </div>
                    <div class="col-sm">
                        <label for="temperatura">Temperatura</label>
                        <input id="temperatura" type="text" class="form-control" readonly th:value="${consulta.prontuario.temperatura}">
                    </div>
                    <div class="col-sm">
                        <label for="peso">Peso</label>
                        <input id="peso" type="text" class="form-control" readonly th:value="${consulta.prontuario.peso}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm">
                        <label for="avalMedica">Descrição da avaliação médica</label>
                        <input id="avalMedica" type="text" class="form-control" readonly th:value="${consulta.prontuario.avalMedico}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exames" readonly>Exames</label>
                    <p th:if="${consulta.prontuario.exames.empty}">Não há exames solicitados</p>
                    <ul>
                        <li id="exames" th:each="exame : ${consulta.prontuario.exames}">
                            <span th:text="${exame}"></span></br>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 offset-sm-9">
                <a type="button" class="btn btn-primary btnAlt" th:href="@{/home}">Voltar</a>
            </div>
        </div>
    </body>

</html>