<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/autenticado}">

<head>
    <title>Paciente</title>
</head>

<body>
    <div id="fundopaciente" layout:fragment="content">
        <button type="button" class="btn btn-success">Nova consulta</button>
        </br>
        </br>
        <h4>Próximas consultas agendadas</h4>
        </br>
        </br>
        <h4>Consultas anteriores</h4>
    </div>
</body>

</html>