
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/autenticado}">

    <head>
        <title>Nova Consulta</title>
    </head>

    <body>
        <div class="container" layout:fragment="content">

            <div  class="form-row col-sm align-items-center">
                <img th:src="@{/img/novaConsulta.png}"/>
                <h4>+ Novo agendamento​</h4>
            </div>

            <form action="#" th:action="@{/paciente/novaConsulta}" method="post">
                <div class="blockwhite" id="espacotitulo">
                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <label for="tipoAtendimento">Tipo de atendimento</label>
                            <select id="tipoAtendimento" class="form-control" required name="tipoAtendimento">
                                <option selected disabled>Escolha uma opção</option>
                                <option>Consulta</option>
                                <option>Retorno</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="tipoConvenio">Convênio</label>
                            <select id="tipoConvenio" class="form-control" required name="convenio">
                                <option selected disabled>Escolha uma opção</option>
                                <option>Particular</option>
                                <option>Convênio</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="especialidade">Especialidade</label>
                            <select id="especialidade" class="form-control" required name="especialidade.id">
                                <option selected disabled>Escolha uma opção</option>
                                <option value="1">Clínica Médica</option>
                                <option value="2">Ginecologia</option>
                                <option value="3">Endocrinologia</option>
                            </select>
                        </div>
                    </div>
                    <p></p>
                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <label for="data">Data</label>
                            <input id="data" class="form-control" type="date" value="dd-mm-aaaa" required>
                        </div>
                        <div class="col-sm-4">
                            <label for="hrInicio">Horário início</label>
                            <input id="hrInicio" class="form-control" type="time" value="00:00:00" required>
                        </div>
                        <div class="col-sm-4">
                            <label for="hrFim">Horário final</label>
                            <input id="hrFim" class="form-control" type="time" value="00:00:00" required>
                        </div>
                    </div>
                    <p></p>
                    <div class="col-sm">
                        <button type="submit" class="btn btn-success btnAlt">Salvar</button>
                    </div>
                </div>
            </form>
        </div>

        <form th:action="@{/home}" method="get">
            <div class="col-lg-12" style="text-align: right;" id="button">
                <button type="submit" class="btn btn-danger">Voltar</button>
            </div>
        </form>
        </div>

        </div>

    </body>

</html>