
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/autenticado}">

    <head>
        <title>Nova Consulta</title>
    </head>

    <body>
        <div class="container" layout:fragment="content">

            <div  class="form-row col-sm align-items-center">
                <img th:src="@{/img/novaConsulta.png}"/>
                <h4>+ Novo agendamento​</h4>
            </div>

            <form action="#" th:action="@{/paciente/novaConsulta}" method="post">
                <div class="blockwhite" id="espacotitulo">
                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <label for="tipoAtendimento">Tipo de atendimento</label>
                            <select id="tipoAtendimento" class="form-control" required name="tipoAtendimento">
                                <option selected disabled>Escolha uma opção</option>
                                <option>Consulta</option>
                                <option>Retorno</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="tipoConvenio">Convênio</label>
                            <select id="tipoConvenio" class="form-control" required name="convenio">
                                <option selected disabled>Escolha uma opção</option>
                                <option>Particular</option>
                                <option>Convênio</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="especialidade">Especialidade</label>
                            <select id="especialidade" class="form-control" required name="especialidade.id">
                                <option selected disabled>Escolha uma opção</option>
                                <option th:each="i : ${especialidades}" th:value="${i.id}" th:text="${i.descricao}"></option>
                            </select>
                        </div>
                    </div>
                    <p></p>
                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <label for="data">Data</label>
                            <input id="data" class="form-control" type="date" value="dd-mm-aaaa" name="data" required disabled>
                        </div>
                        <div class="col-sm-4">
                            <label for="horario">Horário</label>
                            <select id="horario" class="form-control" required name="horaInicio" disabled>
                            </select>
                        </div>
                    </div>
                    <p></p>
                    <div class="row col-sm align-items-center">
                        <div class="col-sm-2 offset-sm-8">
                            <a class="btn-primary btnAlt" href="/home">Voltar</a>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success btnAlt">Salvar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>



        <div layout:fragment="scripts">
            <script>
                $(document).ready(function () {
                    $('#especialidade').change(habilitarData);
                    $('#data').change(obterHorariosDisponiveis);

                    setMinData();

                    function setMinData() {
                        var today = new Date();

                        var dd = today.getDate();
                        var mm = today.getMonth() + 1;
                        var yyyy = today.getFullYear();

                        if (dd < 10) {
                            dd = '0' + dd
                        }
                        if (mm < 10) {
                            mm = '0' + mm
                        }
                        today = yyyy + '-' + mm + '-' + dd;
                        $('#data').attr("min", today);
                    }

                    function habilitarData() {
                        $('#data').prop('disabled', false);
                        $('#horario').empty();
                    }

                    function obterHorariosDisponiveis() {
                        $('#horario').prop('disabled', true);

                        var data = $('#data').val();
                        var especialidade = $('#especialidade').val();
                        var url = `/paciente/novaConsulta/horariosDisponiveis?data=${data}&especialidadeId=${especialidade}`;

                        $('#horario').load(url, function (responseTxt, statusTxt, xhr) {
                            if (statusTxt == "success") {
                                $('#horario').prop('disabled', false);
                            }
                            if (statusTxt == "error") {
                                $('#horario').empty();
                                alert(responseTxt);
                            }
                        });
                    }
                })
            </script>
        </div>

    </body>

</html>